# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.csv
*.test.csv

# Jest coverage reports
coverage/

# Vercel-specific
.vercel/

# Environment variables
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Build files
build/
dist/

# Jest cache
jest-cache/
